<div class="footer-area">
    <div >
        <div class="footer-content">
            <a routerLink="/">
                <img class="logo" src="assets/svg/logo.svg" alt="logo">
            </a>
            <ul class="social-links">
                <li><a href="#" target="_blank"><i class="ri-whatsapp-line"></i></a></li>
                <li><a href="#" target="_blank"><i class="ri-phone-line"></i></a></li>
                <li><a href="https://www.instagram.com/warrior_fitflow/" target="_blank"><i class="ri-instagram-line"></i></a></li>
                <li><a href="#" target="_blank"><i class="ri-mail-send-line"></i></a></li>
                <li><a href="https://www.google.com/maps/place/Warrior+Fitflow/@28.5057221,77.4148961,15z/data=!4m2!3m1!1s0x0:0xc6136c7c1466a0c8?sa=X&ved=1t:2428&ictx=111" target="_blank"><i class="ri-map-pin-line"></i></a></li>
            </ul>
            <!-- <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link"></a></li>
                <li class="nav-item"><a class="nav-link"></a></li>
                <li class="nav-item"><a class="nav-link"></a></li>
                <li class="nav-item"><a class="nav-link"></a></li>
                <li class="nav-item"><a class="nav-link"></a></li>
            </ul> -->
            <div class="legal">
                <p class="copyright">&copy;{{currentYear}} Warrior Fitflow. All rights reserved.</p>
                <!-- <p class="aakash">Made by Aakash Deep</p> -->
            </div>
        </div>
    </div>
</div>