nav {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #1221405D;
    backdrop-filter: blur(25px);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-logo {
    max-width: 50px;
}

.name-container {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0;
}

.link a {
    position: relative;
    padding-bottom: 0.5rem;
    color: var(--white);
    cursor: pointer;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2.2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: var(--transition4);
}

.link a:hover::after {
    width: 100%;
}