<div class="gallery-container">
  <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
    <img
      class="image"
      src="assets/img/gallery/IMG_0211.JPG"
      draggable="false"
    />
    <img
      class="image"
      src="assets/img/gallery/IMG_0213 (1).JPG"
      draggable="false"
    />
    <img
      class="image"
      src="assets/img/gallery/IMG_0214.JPG"
      draggable="false"
    />
    <img
      class="image"
      src="assets/img/gallery/IMG_0218.JPG"
      draggable="false"
    />
    <img
      class="image"
      src="assets/img/gallery/IMG_0219.JPG"
      draggable="false"
    />
    <img
      class="image"
      src="assets/img/gallery/IMG_0220.JPG"
      draggable="false"
    />
    <img
      class="image"
      src="assets/img/gallery/IMG_0221.JPG"
      draggable="false"
    />
    <img
      class="image"
      src="assets/img/gallery/IMG_0223.JPG"
      draggable="false"
    />
  </div>
</div>
