<div class="header-container">
  <div class="header-content">
    <div class="home">
      <div class="home-content">
        <span class="bg-blur"></span>
        <span class="bg-blur header-blur"></span>
        <h4 class="speciality">LARGEST CALISTHENICS AND MMA ARENA OF NOIDA</h4>
        <h1>WARRIOR FITFLOW<span>Strength forged in fire</span></h1>
        <p>
          Welcome to Noida's largest Calisthenics and Mixed martial arts Arena,
          where we offer a range of services to help you achieve your fitness
          goals Join our vibrant community and experience top-notch training in
          a supportive environment. Contact us now to start your fitness
          journey.
        </p>
        <button class="btn">Get FREE Trial</button>
      </div>
      <div class="video-container">
        <video #homeVideo autoplay muted loop class="background-video">
          <source src="assets/Video-122(1).mp4" type="video/mp4" />
        </video>
        <div class="video-gradient"></div>
      </div>
    </div>
  </div>
</div>

<div class="about-container container pt-75 pb-75">
    <div class="about-content">
        <h1 class="section-heading">Who are we?</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex nobis quam porro obcaecati earum delectus quasi. Earum nulla aperiam veniam tempora autem ut, ratione error voluptate suscipit, dolores laboriosam! Adipisci!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex nobis quam porro obcaecati earum delectus quasi. Earum nulla aperiam veniam tempora autem ut, ratione error voluptate suscipit, dolores laboriosam! Adipisci!</p>
        <button class="btn">Get Started</button>
    </div>
    <div class="about-image">
        <img src="assets/img/warriorOnWall.jpg" class="about-image1" alt="warrior On Wall">
        <img src="assets/img/gymArena.jpg" class="about-image2" alt="gym Arena">
    </div>
</div>
